body{
    font-family: 'Special Elite', cursive;
    background-color:#20b076;
    }
    .header_div{
    background-color: white;
    color: orange;
    }
    .header_div p{
        font-family:inherit;
        color: gray;
        letter-spacing: 2px;
        font-size: 10px;
        font-weight: bold;
    }
    .main_div button{
        font-family: initial;
        margin: 30px;
        width: 130px;
        font-weight: bold;
        letter-spacing: 3px;
    }
    .copy_right_footer{
    position: fixed;
    color: grey;
    bottom: 0;
    font-size: 13px;
    background-color: #f5f5f5;
    line-height: 1.6;
    text-align: center;
    width: 100%;
    text-shadow: 5px 5px 5px gray;
    }
    